/* background image from http://thetrollguy.deviantart.com/art/Rare-blocks-324993313 */

body {
    background-image: url("../Pictures/Other/rare_blocks_by_thetrollguy.jpg");
    /*background-repeat: no-repeat;*/
    background-position: center center;
    background-color: #cccccc;
}

div { 
    background-color: #D3D3D3;
    width: 70%;
    padding: 2%;
    margin: auto;
}

.primary {
    border: 10px solid #1C5B07;
}

.secondary {
    border: 10px solid #6B4F08;

}

.OtherSecondary {
    border: 10px solid #0E174A;

}

td {
    text-align: left;
}

table, td, th {
    background-color: #D3D3D3;
    margin: auto;
}

.menu{
    width: 100%;
}

.alone{
    border-style: solid;
    border-color: #0E174A #1B5B07;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: times, sans-serif;
}




/* 
green: 1B5B07
brown: 6B4F08
blue: 0E174A
red: 660815
*/
a:link {
    color: #0E174A;
}

a:visited {
    color: #6B4F08;
}

a:hover {
    color: #660815;
}
