/* 
green: 1B5B07
brown: 6B4F08
blue: 0E174A
red: 660815
*/

body {
    background-color: #6B4F08;
}

div { 
    background-color: #D3D3D3;
    width: 90%;
    padding: 2%;
    border: 10px solid #1C5B07;
    margin: auto;
}


td {
    text-align: left;
}

table {
    border-style: solid;
    border-color: #1B5B07 #0E174A;
}


table, td, th {
    background-color: #D3D3D3;
    margin: auto;

}
.data{
    width: 100%;
}

h1,h2,h3,h4 {
    text-align: center;
}


.errormsg {
    text-align: center;
    color: red;
}

